<head>
	<meta charset="utf-8">
    <title>X-editable starter template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>  
    

    <!-- x-editable (bootstrap version) -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>
	
	<script src="/static/js/rbeditable.js"></script>
	
	<script>
		$(document).ready(function(){
    		//toggle `popup` / `inline` mode
    		$.fn.editable.defaults.mode = 'popup';  
			$('#name').editable();
			$('#sname').editable();
			$('#age').editable();
			$('#height').editable();
			$('#weight').editable();
		});
	</script>
</head>

{% block body_block %}
<div class="container">
<h1>病人信息</h1>
		<div><span>病人编号</span>
   			<a data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
   			   {{ patient.p_id }}
   			</a>
		</div>

		<div>
			<span>姓名</span>
			<a href="#" id="name" data-type="text" data-pk="{{patient.id}}" data-title="Enter patient name" 
			   data-url="{% url 'updatepatient' patient.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
			   {{ patient.p_name }}
			</a>
        </div>
        
        <div>
			<span>姓名缩写</span>
			<a href="#" id="sname" data-type="text" data-pk="{{patient.id}}" data-title="Enter short name" 
			   data-url="{% url 'updatepatient' patient.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
			   {{ patient.p_sname }}
			</a>
        </div>
        
        <div>
			<span>年龄</span>
			<a href="#" id="age" data-type="text" data-pk="{{patient.id}}" data-title="Enter age" 
			   data-url="{% url 'updatepatient' patient.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
			   {{ patient.p_age }}
			</a>
        </div>
        
        <div>
			<span>身高</span>
			<a href="#" id="height" data-type="text" data-pk="{{patient.id}}" data-title="Enter height" 
			   data-url="{% url 'updatepatient' patient.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
			   {{ patient.p_height }}
			</a>
        </div>
        
        <div>
			<span>体重</span>
			<a href="#" id="weight" data-type="text" data-pk="{{patient.id}}" data-title="Enter weight" 
			   data-url="{% url 'updatepatient' patient.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
			   {{ patient.p_height }}
			</a>
        </div>
        
         <div>
			<span>体重</span>
			<a href="#" id="weight" data-type="text" data-pk="{{patient.id}}" data-title="Enter weight" 
			   data-url="{% url 'updatepatient' patient.id %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
			   {{ patient.p_height }}
			</a>
        </div>
        
		
</div>
{% endblock %}