<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>研究列表--麻醉科研管理系统</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen">

	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">你好，{{ request.user.username }}</a>
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button></li>
					<li><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button></li>
					<li><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></button></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	<!-- main top -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">参与研究列表</h3>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>项目编号</th>
						<th>项目名称</th>
						<th>主要研究者</th>
						<th>项目开始时间</th>
						<th>研究进度</th>
						<th><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 分析</button></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2</td>
						<td>右美托咪定对非心脏手术患者术后谵妄发发生率的影响</td>
						<td>穆东亮</td>
						<td>2015/11/1</td>
						<td>45.2%</td>
						<td><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 进入</button></td>
					</tr>
					<tr>
						<td>3</td>
						<td>右美托咪定对非心脏手术患者术后谵妄发发生率的影响</td>
						<td>穆东亮</td>
						<td>2015/11/1</td>
						<td>45.2%</td>
						<td><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 进入</button></td>
					</tr>
					<tr>
						<td>4</td>
						<td>右美托咪定对非心脏手术患者术后谵妄发发生率的影响</td>
						<td>穆东亮</td>
						<td>2015/11/1</td>
						<td>45.2%</td>
						<td><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 进入</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- main top -->

	<!-- main bottom -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">站内信</h3>
		</div>
		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#inbox" aria-controls="inbox" role="tab" data-toggle="tab">收件箱</a>
				</li>
				<li role="presentation">
					<a href="#senditem" aria-controls="senditem" role="tab" data-toggle="tab">已发送</a>
				</li>
				<li role="presentation">
					<a href="#newitem" aria-controls="newitem" role="tab" data-toggle="tab">写邮件</a>
				</li>
			</ul>
		
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="inbox">
					<textarea name="txainbox" id="input" class="form-control" rows="3"></textarea>
				</div>
				<div role="tabpanel" class="tab-pane" id="senditem">...</div>
				<div role="tabpanel" class="tab-pane" id="newitem">...</div>
			</div>
		</div>
	</div>
	<!-- main bottom -->

	<footer class="site-footer">
		Copyright &copy 2016 
	</footer>
</div>



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/static/js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>